Django==1.9.4
Markdown==2.6.5
Pillow==8.3.2
TextBase==0.7
django-markup==0.4
dropbox==8.4.0
gnureadline==6.3.3
ipython==2.2.0
mercurial==2.9
natsort==4.0.3
python-xmp-toolkit==2.0.1
pytz==2015.6
requests>=2.18.4
urllib3==1.9
wsgiref==0.1.2
