{% extends "base.html" %}

{% block maincontent %}
    
<div style="width: 500px; padding-left: 50px; margin: 0 auto">
    <h1>There is currently a problem with Logins</h1>

    <p>We need to upgrade the Metabotnik use of the Dropbox API from version 1 to 2. This requires some changes to the source code, which we are currently working on.
       If you would like to be notified when this is ready, please send me an email at eposthumus@gmail.com and I will mail you as soon as it is done.        
    </p>
    <p>My apologies for the delay in getting this done.</p>
</div>

        
{% endblock maincontent %}