{% extends "base.html" %}

{% block maincontent %}
    
<div class="shout" style="margin-bottom: 40px; height: 100px">
    <h1>Create your own huge <a href="{% url 'projects'%}" style="text-decoration: none">zoomable images</a> here</h1>
    <p>Try zooming in &amp; out, click and drag.</p>
</div>

<div style="width: 100%;">
    <div id="thedzi1" class="openseadragon" style="height: 500px;"></div>
</div>

<div style="text-align: center; margin-top: 75px; font-size: 75%; clear: both;">
    <p>This project is currently under development, and has been funded by <a href="http://www.nwo.nl/onderzoek-en-resultaten/onderzoeksprojecten/61/2300188161.html">The Netherlands Organisation for Scientific Research</a> </p>

    <p>We stand on the shoulders of giants and gratefully use the following technologies: <a href="https://www.python.org/">Python</a>, <a href="https://www.djangoproject.com/">Django</a>, <a href="http://openseadragon.github.io/">OpenSeadragon</a>, <a href="http://www.ubuntu.com/">Ubuntu</a>, <a href="http://www.vips.ecs.soton.ac.uk/">VIPS</a>, and all the source code is <a href="https://github.com/epoz/metabotnik">freely available on Github</a></p>
</div>
        
{% endblock maincontent %}

{% block extra_javascript_end %}
            var viewer1 = OpenSeadragon({
                id:            "thedzi1",
                maxZoomPixelRatio: 100,
                prefixUrl:     '{{STATIC_URL}}openseadragon/images/',
                showNavigator:  false,
                collectionMode: true,
                zoomPerScroll:  1.05,
                zoomPerSecond:  5,
            });
{% for p in projects %}
            viewer1.addTiledImage({tileSource:'/s/project_{{p.pk}}/{{p.metabotnik_nonce}}.dzi'});
{% endfor %}
            
{% endblock extra_javascript_end %}