{% extends "base.html" %}

{% block maincontent %}
<div style="padding: 30px">

<h3><a title="Edit project" href="{% url 'edit_project' project.pk %}">{{project.name|default:"(currently nameless project)"}}</a></h3>
<div>Located in: Dropbox/Apps/Metabotnik{{project.path}}</div>

<h2 style="margin: 0">Sorting images</h2>

<textarea rows="{{textarea_rows}}" style="float:left; margin-right: 20px">
{% for f in project.files.all %}{{f.filename}}
{% endfor %}
</textarea>

<div style="width: 450px; display: inline-block">
<p>In a new project, files are sorted alphabetically by filename.</p>
<p>Using the textbox on the left you can change the ordering of the files in your project, without renaming all the files in your Dropbox. Cut and paste the filenames in the desired order.</p>
<p>Adding a blank line will start a new row in a horizontal layout, or start a new column in vertical layout</p>
</div>

<div style="clear:both; padding-top: 20px">
<a href="" class="button">Save Order</a>
</div>

</div>



{% endblock maincontent %}

{% block extra_javascript_end %}

{% endblock extra_javascript_end %}