{% extends "base.html" %}

{% block maincontent %}
<div style="padding: 10px; ">
    {% if project.metabotnik_path %}<a title="View this metabotnik, filling the browser window" href="{%url 'project' project.pk%}?kaal=1" class="button" style="float:right">V</a>{% endif %}

<h3>{{project.name|default:"(currently nameless project)"}}</h3>
{% if project.user == user %}
<a class="button buttonsmall" href="{% url 'edit_project' project.pk %}">edit</a>
{% endif %}

{% if project.description %}
<div>{{project.description}}</div>
{% endif %}

</div>

{% if project.metabotnik_path %}
    {% if False and not user.is_anonymous %}
<div style="padding-left: 10px">
    <a href="#" id="savesection" class="button" title="This will download a full-resolution version of the image to your hard disk, of the currently viewed selection of the metabotnik.">Download Selection</a>
    <div id="savedsections" style="display:none"></div>
</div>
    {% endif %}

<div id="preview" class="openseadragon" style="height: 550px; margin-top: 10px"></div>


{% else %}
<p>This project has not produced a metabotnik yet.</p>
{% endif %}


{% endblock maincontent %}

{% block extra_javascript_end %}
{% if project.metabotnik_path %}
    var viewer1 = OpenSeadragon({
        id:            "preview",
        maxZoomPixelRatio: 100,
        prefixUrl:     '{{STATIC_URL}}openseadragon/images/',
        showNavigator:  false,
        tileSources: "/s/project_{{project.pk}}/{{project.metabotnik_nonce}}.dzi"
    });

$('#savesection').click(function(event) {
    event.preventDefault();
    var thelink = $(this);
    thelink.hide();
    $('#savedsections').show();
    $('#savedsections').html('Please wait, making your selection...');
    var slction = viewer1.viewport.viewportToImageRectangle( viewer1.viewport.getBounds() );
    $.post('{% url 'savesection' project.pk %}',
            {'csrfmiddlewaretoken': '{{csrf_token}}',
             'section': slction.x+' '+slction.y+' '+slction.width+' '+slction.height
            },
            function(data) { 
                thelink.show();                
                $('#savedsections').html('<a href="' + data + '">' + data + '</a> (NOTE: this could be a very large file)' );                
            }
    );
});
{% endif %}

{% endblock extra_javascript_end %}