{% extends "base.html" %}

{% block maincontent %}

<div style="padding: 30px">
{% if not user.is_anonymous %}
<a href="/folders/" class="conversionbutton">Create a new Project</a>    
{% endif %}


{% if projects %}
<h3>Projects</h3>
{% for p in projects %} <p style="margin: 0">
    <a href="{% url 'project' p.pk %}">{{p}}</a> 
    {% if user == p.user %}<a class="button buttonsmall" href="{% url 'edit_project' p.pk %}">edit</a>{% endif %}
    {% if not p.public %}<span style="font-size: 75%">(not publicly viewable yet)</span>{% endif %}
    </p>{% endfor %}
{% else %}
<h1>There are no projects to view yet</h1>
{% endif %}
    
</div>

{% endblock maincontent %}

