{% extends "base.html" %}
{% load utilz %}  

{% block maincontent %}
<div style="padding: 30px">

{% if project.metabotnik_path %}<a title="View this metabotnik, filling the browser window" href="{%url 'project' project.pk%}?kaal=1" class="button" style="float:right">V</a>{% endif %}
<a id="description_button" href="#" title="Give the project a more extensive description" class="button" style="float:right; margin-right: 10px">Description</a>
<a href="metadata" class="button" style="float:right; margin-right: 10px">Metadata</a>
<a href="sorting" class="button" style="float:right; margin-right: 10px">Sorting</a>

<h3 title="Click to change the name" id="projectname">{{project.name|default:"(currently nameless project, click here to give it a name )"}}</h3>
<input title="Press Enter to save the new name" type="text" id="projectname_edit" style="display: none" size="75" placeholder="{{project.name|default:'Enter a project name'}}">

<div>Dropbox/Apps/Metabotnik{{project.path}} 
    <strong><em>{{project.status|nicestatus}}</em></strong> 
    {% if project.status == 'generating' %}<img src="{{STATIC_URL}}/img/spinner.gif" title="Please wait, now generating your metabotnik">{% endif %} {{project.storage_size|filesizeformat}}
</div>
<div id="progress_indicator">
    <div class="progress"><span id="num_files_local">Has {{project.num_files_on_dropbox}} files on Dropbox, and {{project.num_files_local}} downloaded</span></div>
</div>
<div>Created on: {{project.created}}</div>
    <div>        
        <a href="#" class="button" id="deleteproject">Delete this project</a>
        {% if project.status != 'downloading' %}
            <a href="#" class="button" id="downloadfiles">Re-sync Dropbox</a>
        {% endif %}
        <input {% if project.public %}checked="1" {% endif %}type="checkbox" id="public" title="If this is checked, all users can see this project"> Published 
    </div>
</div>

<div id="description_box" style="display:none; background-color: #fff; width: 50%; padding: 20px">
    <textarea rows="10" id="description" style="width: 100%">{{project.description}}</textarea><br>
    Edit the description, you can use Markdown syntax.
    <div style="float:right">
        <a href="#" class="button" id="description_save">Save</a>
        <a href="#" class="button" id="description_cancel">Cancel</a>
    </div>
</div>


<div id="genbox" style="{% if project.status == 'generating' or project.files.count != project.num_files_on_dropbox %}display: none;{% endif %} padding: 20px 0; width: 100%; height: 520px">
   

    <div style="width: 400px; float:left; padding-left: 40px">
         <select id="layout">
             <option value="horizontal"{% if project.layout_mode == 'horizontal'%} selected="1"{% endif %}>horizontal layout</option>
             <option value="vertical"{% if project.layout_mode == 'vertical'%} selected="1"{% endif %}>vertical layout</option>
             <option value="random" {% if project.layout_mode == 'random'%} selected="1"{% endif %}>random layout</option>
         </select>
         <select id="background_color">
            <option value="#ffffff"{% if project.background_color == '#ffffff'%} selected="1"{% endif %}>white background</option>
            <option value="#000000"{% if project.background_color == '#000000'%} selected="1"{% endif %}>black background</option>
         </select><br><br>
         <a class="button" id="makepreview" href="#">Preview</a>
         <div id="previewspinner"  style="display:none; width:100%; background-color: #fff; padding: 0 40px">making a preview...<img src="{{STATIC_URL}}/img/spinner.gif"></div>         
         {% comment %}
         &nbsp;&nbsp;&nbsp;frame: <input id="frame" type="text" size="4" value="0">   
         {% endcomment %}
         <br><br><br>          
         <input type="checkbox" id="sendemail" checked="1"> Notify me via email when done

        {% if project.status != 'generating' %}<a href="#" id="generate" class="conversionbutton" style="margin-top: 10px">Make the metabotnik</a>{% endif %}

    </div>

    <div style="left: 500px; position: absolute">
        <canvas id="preview" width="500" height="500"></canvas>
    </div>


</div>


{% endblock maincontent %}

{% block extra_javascript_end %}
var canvas = document.getElementById("preview");
var c = canvas.getContext("2d");
c.save();
c.fillStyle = "#fff";
c.fillRect(0,0,500,500);
var img_data = {{img_data|safe}};

function drawImage(img) {
    c.fillStyle = img.fill_style;
    c.fillRect(img.x,img.y,img.width,img.height);
    var img_element = document.createElement("img");
    img_element.src = "/s/project_{{project.pk}}/thumbnails/" + img.filename;
    $(img_element).load(function() { 
        c.drawImage(img_element,img.x,img.y,img.width,img.height);
    });    
}
function drawCanvas() {
    c.restore();
    c.save();
    c.fillStyle = $('#background_color').val();
    c.fillRect(0,0,canvas.width,canvas.height);

    var scale_x = canvas.width / img_data.width;
    var scale_y = canvas.height / img_data.height;
    c.scale(scale_x, scale_y);

    for (var i = 0; i < img_data.images.length; i++) {
        drawImage(img_data.images[i]);
    }
}
function updateCanvas() {
    var frame = $('#frame').val();
    if(!frame) {
        frame = '0';
    }

    $.post('{% url 'json_project' project.pk %}', 
          {'layout': $('#layout').val(),
           'frame': frame, 'csrfmiddlewaretoken': '{{csrf_token}}',
           'background_color': $('#background_color').val()
          }, 
    function(data) {
        img_data = data;
        drawCanvas();
        $('#previewspinner').hide();
        $('#makepreview').show();
    });
}
$('#makepreview').click(function(event) {
    $(this).hide();
    $('#previewspinner').show();
    event.preventDefault();
    updateCanvas();    
});

var num_files_local = {{project.files.count}};
var num_files_on_dropbox = {{project.num_files_on_dropbox}};
$(".progress").each(function() {
    $(this).progressbar({
        value: 1
    }).children("span").appendTo(this);
});
function getDownloadProgress() {
    $.get('{% url 'num_files_local' project.pk %}', 
          function(data) {
              num_files_local = parseInt(data);
          }
    );
    if(num_files_local<num_files_on_dropbox) {
        if(num_files_local>0) {
            $('.progress').progressbar( "option", "value", num_files_local/num_files_on_dropbox*100 );
        }        
        var tmp = '<span style="font-size:60%"> Has {{project.num_files_on_dropbox}} files on Dropbox, and ' + num_files_local + ' downloaded.'
        tmp = tmp + 'You can close this window and do other things while the files are downloading...</span>';
        setTimeout(getDownloadProgress, 2000);
    } else {    
        var tmp = 'All {{project.num_files_on_dropbox}} files retrieved from Dropbox';
        $('.progress').progressbar( "option", "value", 100 );
        {% if project.status != 'generating' and project.status != 'dzgen' %} $('#genbox').show(); {% endif %}
        $.get('{% url 'json_project' project.pk %}', 
        function(data) {
            img_data = data;
            drawCanvas();
        });
        $('#progress_indicator').hide();
    }
    $('#num_files_local').html(tmp);
}
getDownloadProgress();

{% comment %} If we are doing a generation or dzgen, this takes a long time, so periodically refresh the page...    
{% endcomment %}
{% if project.status == 'generating' or project.status == 'dzgen' %}
setTimeout(function() { document.location = {% url 'projects' %}; }, 10000);
{% endif %}

$('#savesection').click(function(event) {
    event.preventDefault();
    var thelink = $(this);
    thelink.hide();
    $('#savedsections').show();
    $('#savedsections').html('Please wait, making your selection...');
    var slction = viewer1.viewport.viewportToImageRectangle( viewer1.viewport.getBounds() );
    $.post('{% url 'savesection' project.pk %}',
            {'csrfmiddlewaretoken': '{{csrf_token}}',
             'section': slction.x+' '+slction.y+' '+slction.width+' '+slction.height
            },
            function(data) { 
                thelink.show();                
                $('#savedsections').html('<a href="' + data + '">' + data + '</a> (NOTE: this could be a very large file)' );                
            }
    );
});

$('#deleteproject').click(function(event) {
    event.preventDefault();
    var confirmdelete = confirm('Are you sure you want to delete this project?');
    if(confirmdelete) {
        $.post('{% url 'delete_project' project.pk %}',
               {'csrfmiddlewaretoken': '{{csrf_token}}'},
               function(data) {
                    document.location = '{% url 'projects' %}';
               }
        );
    }
});

$('#description_button').click(function(event) {
    event.preventDefault();
    $('#genbox').hide();
    $('#description_box').show();
    $('#description').focus();
});
$('#description_save').click(function(event) {
    event.preventDefault();
    $('#description_box').hide();
    $('#genbox').show();
    var description_value = $('#description').val();
    if(!description_value) {
        description_value = '__clear__';
    }
    $.post('{% url 'edit_project' project.pk %}',
        {'csrfmiddlewaretoken': '{{csrf_token}}', 
         'description': description_value, 
        },
        function(data) {
            document.location.reload();
        }
    );
});
$('#description_cancel').click(function(event) {
    event.preventDefault();
    $('#genbox').show();
    $('#description_box').hide();
});

$('#projectname').click(function(event) {
    event.preventDefault();
    $('#projectname').hide();
    $('#projectname_edit').show().focus();
});
$('#projectname_edit').keyup(function(event) {
    if ( event.which == 13 ) {
        event.preventDefault();
        var name = $(this).val();
        $('#projectname_edit').hide();
        $.post('{% url 'edit_project' project.pk %}',
        {'csrfmiddlewaretoken': '{{csrf_token}}', 
         'name': name, 
        },
        function(data) {
            document.location.reload();
        });
    }
    if ( event.which == 27 ) {
        event.preventDefault();
        $('#projectname_edit').hide();
        $('#projectname').show();
    }  
});
$('#generate').click(function(event) {
    event.preventDefault();
    var layout = $('#layout').val();
    var sendemail = $('#sendemail').val();        
    $.post('{% url 'generate' project.pk %}', 
        {'csrfmiddlewaretoken': '{{csrf_token}}', 
         'layout': layout, 
         'sendemail': $('#sendemail').is(':checked')},
        function(data) {
            document.location.reload();
    });
});
$('#downloadfiles').click(function(event) {
    event.preventDefault();    
    $.post('{% url 'getdropbox_project' project.pk %}', 
        {'csrfmiddlewaretoken': '{{csrf_token}}'},
        function(data) {
            document.location.reload();
    });    
});
$('#public').click(function(event) {
    var checked = $('#public:checked').val()?'1':'0';
    $.post('{% url 'edit_project' project.pk %}',
        {'csrfmiddlewaretoken': '{{csrf_token}}', 'public': checked }
    );        
});

{% endblock extra_javascript_end %}