{% extends "base.html" %}

{% block maincontent %}
<h3 title="Click to change the name">{{project.name|default:"(currently nameless project)"}}</h3>
<div>{{project.path}}</div>
<div>Has {{project.num_files_on_dropbox}} files on Dropbox, and {{project.num_files_local}} downloaded</div>
<div>Created on: {{project.created}}</div>
<div>Status: {{project.status}}</div>

{% if project.status != 'generating' %}
<div style="margin-top: 20px; background-color: #eee; padding: 20px">
    <div style="float:right">
        <input type="checkbox" id="sendemail">
    </div>
<input type="radio" name="layout" value="horizontal"> horizontal layout<br>
<input type="radio" name="layout" value="vertical"> vertical layout
<a href="#" id="makepreview" class="conversionbutton">Make Preview</a>
</div>
{% endif %}

{% if project.preview_width > 0 and project.preview_height > 0 %}
{% if project.status != 'generating' %}
<div style="margin-top: 20px; background-color: #eee; padding: 20px">
<a href="#" id="generate" class="conversionbutton">Generate{% if project.deepzoom %} Again{%endif%}</a></div>    
{% endif %}

<div id="preview" class="openseadragon" style="height: 300px; margin-top: 40px"></div>



{% endif %}


{% endblock maincontent %}

{% block extra_javascript_end %}
$('#makepreview').click(function(event) {
    event.preventDefault();
    var layout = $('input:radio[name=layout]:checked').val();
    $.post('{% url 'generate' project.pk %}', 
        {'csrfmiddlewaretoken': '{{csrf_token}}', 'layout': layout, 'preview': 1},
        function(data) {
            document.location.reload();
    });
});
$('#generate').click(function(event) {
    event.preventDefault();    
    $.post('{% url 'generate' project.pk %}', 
        {'csrfmiddlewaretoken': '{{csrf_token}}'},
        function(data) {
            document.location.reload();
    });
});


{% if project.file_path %}
    var viewer1 = OpenSeadragon({
        id:            "preview",
        maxZoomPixelRatio: 100,
        prefixUrl:     '{{STATIC_URL}}openseadragon/images/',
        showNavigator:  false,
        {% if project.deepzoom %}
        tileSources: "/s/project_{{project.pk}}/deepzoom.dzi"
        {% else %}
        tileSources: [
            {
                type: 'legacy-image-pyramid',
                levels: [{"url": "{{csrf_token}}/preview.jpg", 
                          "width": {{project.preview_width}},         
                          "height": {{project.preview_height}}
                         }
                ]
            }
        ]
        {% endif %}
    });
{% endif %}

{% endblock extra_javascript_end %}